<template>
  <div>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="6">
            <v-text-field label="Idioma" name="idioma" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'briefcase']" />
            </v-text-field>
          </v-col>
          <v-col cols="6">
            <v-select :items="niveles" label="Nivel" name="nivel" required>
              <font-awesome-icon slot="append" :icon="['fas', 'industry']" />
            </v-select>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </div>
</template>

<script>
export default {
  props: ["id"],
  data: () => ({
    niveles: ["Basico", "Intermedio", "Avanzado", "Nativo"]
  })
};
</script>
