<template>
  <div>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="6">
            <v-select :items="nivel" label="Nivel" name="Nivel">
              <font-awesome-icon slot="append" :icon="['fas', 'briefcase']" />
            </v-select>
          </v-col>
          <v-col cols="6">
            <v-select :items="estado" label="Finalizado" name="Finalizado">
              <font-awesome-icon slot="append" :icon="['fas', 'industry']" />
            </v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-text-field label="Carrera / Titulo" name="carrera" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'industry']" />
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-text-field
              label="Establecimiento"
              name="establecimiento"
              type="text"
            >
              <font-awesome-icon slot="append" :icon="['fas', 'industry']" />
            </v-text-field>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </div>
</template>

<script>
export default {
  props: ["id"],
  data: () => ({
    nivel: ["Primario", "Secundario", "Terciario", "Universitario", "Curso"],
    estado: ["Abandonado", "En Curso", "Finalizado"]
  })
};
</script>
