<template>
  <div>
    <v-card-text>
      <v-form>
        <v-text-field label="Nombre" name="nombre" type="text">
          <font-awesome-icon slot="append" :icon="['fas', 'user-edit']" />
        </v-text-field>
        <v-text-field label="Apellido" name="apellido" type="text">
          <font-awesome-icon slot="append" :icon="['fas', 'user-edit']" />
        </v-text-field>
        <v-text-field
          label="Fecha de Nacimiento"
          name="fecha_de_nacimiento"
          type="date"
        >
          <font-awesome-icon slot="append" :icon="['fas', 'user-edit']" />
        </v-text-field>
        <v-text-field label="DNI" name="dni" type="number">
          <font-awesome-icon slot="append" :icon="['fas', 'user-edit']" />
        </v-text-field>
        <v-text-field label="CUIL/CUIT" name="cuilcuit" type="text">
          <font-awesome-icon slot="append" :icon="['fas', 'user-edit']" />
        </v-text-field>
        <v-text-field label="Nacionalidad" name="nacionalidad" type="text">
          <font-awesome-icon slot="append" :icon="['fas', 'user-edit']" />
        </v-text-field>
      </v-form>
    </v-card-text>
  </div>
</template>

<script>
export default {};
</script>
