<template>
  <div>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="6">
            <v-text-field label="Telefóno fijo" name="telefono" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'phone']" />
            </v-text-field>
          </v-col>
          <v-col cols="6">
            <v-text-field label="Telefóno Celular" name="celular" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'mobile']" />
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-text-field label="Email" name="email" type="email">
              <font-awesome-icon slot="append" :icon="['fas', 'envelope']" />
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-text-field label="Domicilio" name="Domicilio" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'road']" />
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-text-field label="Localidad" name="localidad" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'city']" />
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-text-field label="Provincia" name="provincia" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'map']" />
            </v-text-field>
          </v-col>
          <v-col cols="6">
            <v-text-field label="País" name="pais" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'flag']" />
            </v-text-field>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </div>
</template>

<script>
export default {};
</script>
