<template>
  <div>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="6">
            <v-text-field label="Puesto" name="puesto" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'briefcase']" />
            </v-text-field>
          </v-col>
          <v-col cols="6">
            <v-text-field label="Empresa" name="empresa" type="text">
              <font-awesome-icon slot="append" :icon="['fas', 'industry']" />
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-text-field label="Desde" name="desde" type="date">
              <font-awesome-icon
                slot="append"
                :icon="['fas', 'calendar-alt']"
              />
            </v-text-field>
          </v-col>
          <v-col cols="6">
            <v-text-field label="Hasta" name="hasta" type="date">
              <font-awesome-icon
                slot="append"
                :icon="['fas', 'calendar-alt']"
              />
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-textarea name="descripcion" label="Descripción" auto-grow>
              <font-awesome-icon slot="append" :icon="['fas', 'comment']" />
            </v-textarea>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-text-field
              label="Contacto / Rerencia"
              name="referencia"
              type="text"
            >
              <font-awesome-icon
                slot="append"
                :icon="['fas', 'address-book']"
              />
            </v-text-field>
          </v-col>
          <!-- <v-col cols="6">
            <v-file-input
              label="Recomendación"
              name="recomendacion"
              type="file"
            >
              <span slot="prepend"></span>
              <font-awesome-icon slot="append" :icon="['fas', 'paperclip']" />
            </v-file-input>
          </v-col> -->
        </v-row>
      </v-form>
    </v-card-text>
  </div>
</template>

<script>
export default {
  props: ["id"]
};
</script>
