<template>
  <div>
    <v-main>
      <v-container class="fill-height" fluid>
        About
      </v-container>
    </v-main>
  </div>
</template>

<script>
export default {
  props: {
    source: String
  },
  data: () => ({
    //
  })
};
</script>
