<template>
  <div>
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="10" sm="8" md="8">
            <Card :title="title" :subtitle="subtitle" :text="text"></Card>
            <br />
            <Card :formulario="true"></Card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>

<script>
export default {
  components: {
    Card: () => import("../components/Card")
  },
  data: () => ({
    lang: "es"
  }),
  computed: {
    title: function() {
      return this.$t("home.titulo");
    },
    subtitle: function() {
      return this.$t("home.subtitulo");
    },
    text: function() {
      return this.$t("home.texto");
    }
  }
};
</script>
