<template>
  <v-card class="mx-auto" v-bind="$attrs">
    <v-card-title>
      <h1>{{ title }}</h1>
    </v-card-title>
    <v-card-subtitle>
      {{ subtitle }}
    </v-card-subtitle>
    <v-card-text>
      <template v-if="formulario">
        <Form></Form>
      </template>
      <template v-else>
        {{ text }}
      </template>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  inheritAttrs: false,
  name: "Card",
  props: {
    title: {
      type: String,
      default: ""
    },
    subtitle: {
      type: String,
      default: ""
    },
    text: {
      type: String,
      default: ""
    },
    formulario: {
      default: false,
      type: Boolean
    }
  },
  components: {
    Form: () => import("./Form")
  },
  data: () => ({})
};
</script>
