<template>
  <div>
    <template v-for="(item, clave) in this.categorias">
      <div :key="clave">
        <v-toolbar color="primary" dark flat>
          <v-toolbar-title>{{ item }}</v-toolbar-title>
          <v-spacer />
          <template
            v-if="
              clave == 'laborales' || clave == 'estudios' || clave == 'idiomas'
            "
          >
            <span class="laboral">
              {{ cantidades[clave] }}
            </span>
            <v-btn icon @click="mas(clave)">
              <font-awesome-icon :icon="['fas', 'plus']" />
            </v-btn>
            <v-btn icon @click="menos(clave)">
              <font-awesome-icon :icon="['fas', 'minus']" />
            </v-btn>
          </template>
        </v-toolbar>
        <FormularioBase v-if="clave == 'personal'" />
        <FormularioContacto v-if="clave == 'contacto'" />
        <template
          v-if="
            clave == 'laborales' || clave == 'estudios' || clave == 'idiomas'
          "
        >
          <template v-for="n in cantidades[clave]">
            <FormularioLaboral
              v-if="clave == 'laborales'"
              :key="n + 'L'"
              :id="n"
            />
            <FormularioEstudios
              v-if="clave == 'estudios'"
              :key="n + 'E'"
              :id="n"
            />
            <FormularioIdiomas
              v-if="clave == 'idiomas'"
              :key="n + 'I'"
              :id="n"
            />
            <v-divider
              v-if="cantidades[clave] > 1 && n < cantidades[clave]"
              :key="n + clave"
            />
          </template>
        </template>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "Form",
  components: {
    FormularioBase: () => import("./formulario/FormularioBase"),
    FormularioContacto: () => import("./formulario/FormularioContacto"),
    FormularioLaboral: () => import("./formulario/FormularioLaboral"),
    FormularioEstudios: () => import("./formulario/FormularioEstudios"),
    FormularioIdiomas: () => import("./formulario/FormularioIdiomas")
  },
  data: () => ({
    categorias: {
      personal: "Datos Personales",
      contacto: "Datos de Contacto",
      laborales: "Experiencia Laboral",
      estudios: "Estudios",
      idiomas: "Idiomas"
    },
    cantidades: {
      laborales: 2,
      estudios: 2,
      idiomas: 2
    }
  }),
  methods: {
    mas: function(data) {
      this["cantidades"][data]++;
    },
    menos: function(data) {
      if (this["cantidades"][data] > 0) this["cantidades"][data]--;
    }
  }
};
</script>

<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.laboral {
  margin-right: 12px !important;
  font-weight: bold;
  font-size: 1rem;
}
</style>
