<template>
  <v-app>
    <v-navigation-drawer app clipped permanent expand-on-hover>
      <v-list shaped>
        <v-list-item link to="/">
          <v-list-item-action>
            <font-awesome-icon :icon="['fas', 'house-user']" />
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/layout">
          <v-list-item-action>
            <font-awesome-icon :icon="['fas', 'layer-group']" />
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Layout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/about">
          <v-list-item-action>
            <font-awesome-icon :icon="['fas', 'info-circle']" />
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>About</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-toolbar-title>Decorus Vitae | {{ title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="darkSwitch">
        <font-awesome-icon :icon="['fas', 'adjust']" />
      </v-btn>
    </v-app-bar>
    <router-view />
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({}),
  methods: {
    darkSwitch: function() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    }
  },
  computed: {
    title: function() {
      return this.$route.name;
    }
  },
  created() {
    this.$vuetify.theme.dark = true;
  }
};
</script>
